@import './base';

.card {
  width: 18rem;
  max-height: 24.6rem;
  background-color: $white;
  margin: 2.5rem 1rem;
  border-radius: 10px;
  box-shadow: $light-box-shadow;
  &__flag {
    width: 100%;
    height: 12rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  &__heading {
    @include font-c-s-w(#000, 1.2rem, $font-extra-bold);
    margin: 1.5rem 1rem;
    &--medium {
      @include font-c-s-w(#000, 1rem, $font-bold);
      margin: 0.5rem 1rem;
      &:last-child {
        margin-bottom: 3rem;
      }
    }
    &--small {
      font-weight: $font-light;
    }
  }
}
