@import './base';

.card {
  width: 16rem;
  max-height: 25rem;
  background-color: $white;
  margin: 2.5rem 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  box-shadow: $light-box-shadow;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  &__flag {
    position: relative;
    width: 100%;
    height: 8.5rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
  &__heading {
    @include font-c-s-w(#000, 1.1rem, $font-extra-bold);
    margin: 1.5rem 1rem;
    &--medium {
      @include font-c-s-w(#000, 0.9rem, $font-bold);
      margin: 0.5rem 1rem;
    }
    &--small {
      font-weight: $font-light;
    }
  }
}
