@import './base';

.header {
  @include flex-a-j(center, space-between);
  width: 90%;

  &__heading {
    @include font-c-s-w($theme-light-text, 1.5rem, $font-extra-bold);
    margin: 1.2rem 0;
  }
  &__theme-switch {
    @include flex-a-j(center, space-between);
    @include font-c-s-w($theme-light-text, 1rem, $font-bold);
  }
}
