@import './base';
@import './header';
@import './card-list';
@import './search-bar';
@import './card';
@import './card-detail';

.container {
  width: 100%;
  &--header {
    position: relative;
    transition: all 0.5s;
    background-color: white;
    box-shadow: $light-box-shadow;
    @include flex-a-j(center, center);
    &.theme--dark {
      .header__heading {
        color: $white;
      }
      background-color: $theme-dark-elements;
      box-shadow: $dark-box-shadow;
      .header {
        & > * {
          color: $white;
        }
      }
    }
  }
  &--cardlist {
    width: 100%;
    min-height: 100vh;
    @include flex-a-j(flex-start, flex-start);
    background-color: $theme-light-bg;
    flex-direction: column;
    &.theme--dark {
      background-color: $theme-dark-bg;
      .cardlist {
        background-color: $theme-dark-bg;
        .card {
          background-color: $theme-dark-elements;
          box-shadow: $dark-box-shadow;
          & > * {
            color: $white;
          }
        }
      }
      .search-bar {
        &__form {
          background-color: $theme-dark-elements;
          box-shadow: $dark-box-shadow;
          &__input {
            background-color: $theme-dark-elements;
            color: $white;
          }
        }
        .search-bar__filter {
          & > * {
            background-color: $theme-dark-elements;
            color: $white;
            box-shadow: $dark-box-shadow;
          }
        }
      }
    }
  }
}

.loader {
  position: absolute;
  @include font-c-s-w(rgba(116, 116, 116, 0.664), 3rem, $font-extra-bold);
  top: 50%;
  width: 100%;
  text-align: center;
  font-style: italic;
}
.icon-search {
  width: 4rem;
  padding: 0 1rem;
  @include flex-a-j(center, center);
  img {
    width: 1rem;
  }
}
