@import './base';
@import './header';
@import './card-list';
@import './search-bar';
@import './card';
@import './card-detail';

.container {
  width: 100%;
  &--header {
    position: relative;
    transition: all 0.5s;
    background-color: var(--elements);
    box-shadow: var(--box-shadow);
    @include flex-a-j(center, center);
  }
  &--cardlist {
    width: 100%;
    min-height: 100vh;
    @include flex-a-j(flex-start, flex-start);
    background-color: var(--background);
    flex-direction: column;
  }
}

.loader {
  position: absolute;
  @include font-c-s-w(rgba(116, 116, 116, 0.664), 3rem, $font-extra-bold);
  top: 50%;
  width: 100%;
  text-align: center;
  font-style: italic;
}
.icon-search {
  width: 4rem;
  padding: 0 1rem;
  @include flex-a-j(center, center);
  img {
    width: 1rem;
  }
}
