@import './base';

.search-bar {
  width: 90%;
  margin: 2rem auto;
  @include flex-a-j(flex-start, space-between);
  &__form {
    width: 40%;
    @include flex-a-j(center, space-between);
    background-color: $white;
    box-shadow: $light-box-shadow;
    border-radius: 10px;
    transition: all 0.5s;
    &__input {
      transition: all 0.5s;
      flex: 1;
      border-radius: 10px;
      padding: 1.2rem 0rem;
      border: none;
      outline: 0;
      font-size: 1.1rem;
    }
  }
  &__filter {
    width: 15rem;
    font-weight: $font-bold;
    & > * {
      box-shadow: $light-box-shadow;
      border-radius: 5px;
    }
    &__heading {
      @include flex-a-j(center, space-between);
      width: 100%;
      padding: 1rem;
      background-color: $white;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
      }
      .icon--arrow {
        width: 1rem;
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
      &.filter--active {
        .icon--arrow {
          transform: rotate(0);
        }
      }
    }
    &__items {
      width: 15rem;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: $white;
      position: absolute;
      transform: scaleY(0);
      transition: transform 0.1s;
      &.filter--active {
        transform: scaleY(1);
      }
    }
    &__item {
      width: 15rem;
      margin: 0.3rem 0;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.clear {
  width: 100%;
  text-align: center;
  opacity: 0.3;
  margin: 0.7rem 0;
  font-weight: $font-extra-bold;
  cursor: pointer;
}
