@import '../../scss/base';

.header {
  @include flex-a-j(center, space-between);
  width: 90%;
  &__heading {
    @include font-c-s-w(var(--text), 1.5rem, $font-extra-bold);
    margin: 1.2rem 0;
  }

  &__theme-switch {
    cursor: pointer;
    @include flex-a-j(center, space-between);
    @include font-c-s-w(var(--text), 1rem, $font-bold);
    .icon--theme {
      width: 1rem;
      margin-right: 0.5rem;
      transition: all 0.3s;
    }
    &:hover {
      opacity: 0.8;
      .icon--theme {
        transform: rotate(30deg);
      }
    }
  }

  @media (max-width: 500px) {
    &__heading {
      font-size: 1rem;
    }
    &__theme-switch {
      font-size: 0.9rem;
      .icon--theme {
        width: 0.8rem;
      }
    }
  }
}
