@import '../../scss/base';

.card-detail {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  &__contents {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    @include flex-a-j(center, center);
    @media (max-width: 768px) {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    &__flag {
      width: 50%;
      margin-right: 3rem;
      @media (max-width: 500px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    &__heading {
      @include font-c-s-w(var(--text), 2.5rem, $font-extra-bold);
      margin: 1.5rem 0;
    }
    &__items {
      width: 100%;
      @include flex-a-j(flex-start, space-between);
      flex-wrap: wrap;
      .item {
        width: 50%;
        @media (max-width: 500px) {
          width: 100%;
        }
        margin: 0.3rem 0;
        span {
          color: var(--text);
          &:nth-child(1) {
            @include font-c-s-w(var(--text), 1rem, $font-bold);
          }
        }
      }
    }
    &__borders {
      margin-top: 3rem;
      span {
        @include font-c-s-w(var(--text), 1rem, $font-bold);
      }
      .borders__container {
        display: inline-flex;
        flex-wrap: wrap;
        @media (max-width: 500px) {
          width: 100%;
          justify-content: space-between;
          margin-top: 0.5rem;
        }
        .border {
          color: var(--text);
          font-size: 0.8rem;
          border-radius: 3px;
          margin: 0.3rem 0.5rem;
          padding: 0.2rem 0.5rem;
          background-color: var(--elements);
          box-shadow: var(--box-shadow);
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
// Buttons
.button__box {
  width: 80%;
  margin: 3rem auto;
}
.button--back {
  width: 5rem;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--elements);
  box-shadow: var(--box-shadow);
  font-weight: $font-bold;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
